<!-- Mobile Navigation -->
{#
<div class="grid-x grid-padding-y align-justify align-middle navigation hide-for-large" id="swup-header" style="z-index: 14">
  <div class="auto cell">
    <a href="/" class="sans-bold text-uppercase h6">{{ siteName }}</a>
  </div>
  <div class="shrink cell">
    <button class="hamburger hamburger--collapse" type="button" aria-label="Navigation" id="hamburger" data-toggle="overlayNavigation hamburger" data-toggler=".hamburger-inner--active">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
</div>
#}
<!-- End Mobile Navigation -->

<!-- Desktop Navigation -->
{#
<div class="grid-x show-for-large align-justify align-middle navigation" id="swup-header" style="z-index: 14">

  <div class="auto cell">
    <a href="/" class="sans-bold text-uppercase h6">{{ siteName }}</a>
  </div>

  <div class="shrink cell align-middle">
    <button class="hamburger hamburger--collapse" type="button" aria-label="Navigation" id="hamburger" data-toggle="overlayNavigation hamburger" data-toggler=".hamburger-inner--active">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>

</div>
#}
<!-- End Desktop Navigation -->

<!-- Desktop Navigation -->
<div class="grid-x align-justify align-middle navigation" id="swup-header" style="z-index: 14">

  <div class="auto cell">
    <button class="sans-bold text-uppercase h6" aria-label="Navigation" data-toggle="overlayNavigation">{{ siteName }} {% if bodyClass == "project" %}<span class="padding-left-1 dark-gray show-for-medium">{{ entry.title }}</span>{% endif %}</button>
  </div>

  <div class="shrink cell">
    <button class="sans-bold text-uppercase h4" aria-label="Navigation" data-toggle="overlayNavigation">+</button>
  </div>

</div>
<!-- End Desktop Navigation -->