<div class="top-bar row collapsed expanded align-middle align-justify">
  
  <div class="shrink columns navigation">
    <ul class="menu simple">
      <li class="top-bar__logo"><a href="/">{{site.title}}</a></li>
    </ul>
  </div>
  
  <div class="shrink columns navigation">
    <button class="hamburger hamburger--collapse" id="toggle" data-toggler=".is-active" type="button" data-toggle="overlay toggle">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>

</div>