//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Typography
//   4. Page
//   5. Navigation
//   6. Index
//   7. Excerpt
//   8. Projects
//   9. Project
//   10. Profile
//   11. Services
//   12. Contact
//   13. Footer

// 1. Mixins
// ---------

@mixin margin-one {
  margin-bottom: 1rem;
}

@mixin margin-two {
  margin-bottom: 2rem;
}

@mixin margin-three {
  margin-bottom: 3rem;
}

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie);
}

@mixin link-underline($color, $size, $duration,  $centered) {
  color: $color;
  display: inline-block;
  position: relative;
  text-decoration: none; 
  &:before {
    background-color: $color;
    content: '';
    height: $size;
    position: absolute;
    bottom: 0 - ($size/2);
    transition: $duration;
    width: 0;
    @if $centered == 'true' {
      left: 50%;
      transform: translateX(-50%); 
    }
  }
  &:hover {
    &:before {
      width: 100%;
    }
  }
}

// 2. Global
// ---------

body {
  cursor: default;
}

svg {
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

::selection {
  background: $color--black;
  color: $color--white;
}

:focus {
  outline: 0;
}

[data-sticky] {
  width: 100%;
}

.wrapper {
  padding: 2rem 2rem 0rem 2rem;
}

.page {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.page a {
  @include link-underline($color--white, 1px, $primary-transition, false)
}

p a:after {
  content: url(../icons/arrow.svg);
  margin-left: 0.5rem;
  height: 14px;
  width: 14px;
}

// 3. Typography
// -------------

a {
  transition: $primary-transition;
}


.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}


// 4. Navigation
// ------

.navigation {
  z-index: 2;
}

.navigation--mobile {
  z-index: 2;
}

// 4. Home
// ------

.home {
}


// 4. Project
// ----------

.project {
//   @include margin-three;
}

// 4. Footer
// ---------



.projectlist .item {
//   padding: 2rem;
}

.projectlist a {
    display: block;
    width: 100%;
    position: relative; 
}
    
.projectlist a:hover img {
      filter: saturate(0%) brightness(50%); }
    
.projectlist a img {
      transition: $primary-transition;
      display: block;
      width: 100%;
}

.projectlist a .item__title {
      position: absolute;
      top: 0rem;
      left: 0rem;
      padding: 2rem;
      color: $color--white; 
}


[data-aos='fade-up'] {
  transform: translate(0, 1rem);
}


.loader {
  z-index: 3;
  position: fixed;
  background: $color--black;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
  opacity: 1;
  transition: $primary-transition;
  visibility: visible;
  
  &.loaded {
    opacity: 0;
    visibility: hidden;
  }
}



.animate-fade-in {
  @include mui-animation(fade(0,1));
  animation-duration: 1s;
}