//  Table of Contents:
//
//   1. Global
//   2. Typography
//   3. Navigation


// 1. Global
// ---------

body {  
  cursor: default;
}

svg {
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  opacity: 0;
  transition: $primary-transition;
}

::selection {
  background: $color--black;
  color: $color--white;
}

a { 
  transition: $primary-transition;
}

// 2. Typography

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}


// 3. Navigation

.top-bar__logo {
  font-size: 1.5rem;
}

.navigation {
z-index: 1010;
}


// 404

.missing {
	margin-top: 3rem;
	margin-bottom: 3rem;
	a {
    color: $color--dark-gray;
    }
    a:hover {
    color: $color--black;
    }
}

// 4. Index


// 6. Page

.contact {
	padding: 3rem;
	@include breakpoint(small only) {
    padding: 2rem;
  	}
}

.project__content {
	padding: 1rem 3rem 1rem 3rem;
	@include breakpoint(small only) {
    padding: 2rem;
  	}
}


.page__content {
	padding: 1rem 3rem 1rem 3rem;
	@include breakpoint(small only) {
    padding: 2rem;
  	}
  	h3 {
    margin-bottom: 2rem;
    }
}



.contact a {
  color: $color--dark-gray;
  &:hover {
    color: $color--black;
  }
}

// 7. Project

.project__meta {
	padding-top: 2rem;
}

.project__meta p {
	margin-bottom: 0rem;
}

.project__meta .detail {
	color: $color--dark-gray;
}


.project__image__second {
	@include breakpoint(small only) {
    padding-top: 1rem;
    }
}


.project__content {
	padding: 3rem;
	@include breakpoint(small only) {
    padding: 2rem;
  	}
}

.project__images img {
  padding-bottom: 2rem;
}

.project__content a {
  color: $color--dark-gray;
  &:hover {
    color: $color--black;
  }
}

.project__step {
  padding-bottom: 2rem;
}

.project__share {
	padding: 3rem;
	@include breakpoint(small only) {
    padding: 2rem;
  	}
}

.project__share__bottom {
	padding-top: 2rem;
}

.project__pagination {
	padding: 3rem;
	@include breakpoint(small only) {
    padding: 2rem;
  	}
}

// 8. Pagination

.pagination__wrapper {
	padding: 3rem;
	@include breakpoint(small only) {
    padding: 2rem;
  	}
}

.callout--pagination {
  border: 2px solid $color--amber;
  padding: 2rem 2rem 1rem 2rem;
}

.pagination {
  background-color: $color--black;
//   border: blue 1px solid;
  padding: 2rem 2rem 1rem 2rem;
  width: 100%;
  &:hover {
    background-color: $color--black;
  }
}


// 9. Excerpt

.projects {
  padding: 0rem 2rem;
  @include breakpoint(small only) {
    padding: 0rem;
  	}
}

.excerpt {
	position:relative;
	padding: 1rem;
	opacity:1;
	
  	img {
      width:100%;
    }
    
    .excerpt__image:after {
      opacity:0;
      transition: $primary-transition;
    }
    
    &:hover .excerpt__image:after {
        background:$color--black;
        opacity:0.7;
      }
      
    &:hover .excerpt__title {
        p {
        color: $color--white;
        }
      } 
}

.excerpt__title {
  position:absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  padding: 3rem;
  @include breakpoint(small only) {
    padding: 2rem;
  	}
  z-index: 1;
  
    p {
    color: $color--white;
    transition: $primary-transition;
//     text-transform: uppercase;
    letter-spacing: 1px;
    }
  
    @include breakpoint(small only) {
    padding: 2rem;
    }
}


.excerpt__image:after {
  content:'\A';
  position:absolute;
  width:100%; 
  height:100%;
  top:0; 
  left:0;
  background:$color--black;
  opacity:0.25;
}


// 10. About

.about__content {
	font-family: $header-font-family;
	font-size: 1.5rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	@include breakpoint(small only) {
	padding-top: 2rem;
	padding-bottom: 2rem
  	}
}

.about__cv {
	font-family: $header-font-family;
	font-size: 1.5rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	@include breakpoint(small only) {
	padding-top: 2rem;
	padding-bottom: 2rem
  	}
}

.about_book {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

// 11. Footer

footer {
	padding: 2rem 3rem 1.68rem 3rem;
	a {
    color: $color--white;
    display: block;
    }
}