<a href="{{ project.url }}">
  {% set image = project.image.one() %}
  <div class="black-background-color excerpt">
  <div class="image--24-1 testing" data-interchange="{% if image | length %}{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-4" %}{% endif %}" data-aos="new-animation"></div>
  
  {% if project.previewVideo %}
    <video autoplay muted loop class="video" poster="" data-aos="new-animation">
      <source data-src="{{ project.previewVideo }}" type="video/mp4">
    </video>
  {% endif %}

  </div>
  <div class="text-center margin-top-1 lazy">{{ project.title }}</div>
</a>