<a href="{{ project.url }}">
  {% set image = project.image.one() %}
  <div class="black-background-color excerpt">
  <div class="image--24-1 testing" data-interchange="{% if image | length %}{% include "_includes/images/full/24-1/interchange-img-small-12-medium-6" %}{% endif %}" data-aos="new-animation"></div>
  
  {% if project.previewVideo %}
    <video autoplay muted loop class="video" poster="" data-aos="new-animation">
      <source data-src="{{ project.previewVideo }}" type="video/mp4">
    </video>
  {% endif %}

  </div>
  <div class="text-center margin-top-1 lazy text-uppercase letter-spacing--loose">{{ project.title }} {% if project.brandArtist|length %}<span class="dark-gray padding-left-1">{{ project.brandArtist }}</span>{% endif %}</div>
</a>