@font-face {
  font-family: 'Marr Sans';
  src: 
  url('../fonts/marr-sans-regular.woff2') format('woff2'), 
  url('../fonts/marr-sans-regular.woff') format('woff'),
  url('../fonts/marr-sans-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT America Condensed Bold';
  src: 
  url('../fonts/gt-america-condensed-bold.woff2') format('woff2'), 
  url('../fonts/gt-america-condensed-bold.woff') format('woff'),
  url('../fonts/gt-america-condensed-bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monument Grotesk Regular';
  src: 
  url('../fonts/monument-grotesk-regular.woff2') format('woff2'), 
  url('../fonts/monument-grotesk-regular.woff') format('woff'),
  url('../fonts/monument-grotesk-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monument Grotesk Medium';
  src: 
  url('../fonts/monument-grotesk-medium.woff2') format('woff2'), 
  url('../fonts/monument-grotesk-medium.woff') format('woff'),
  url('../fonts/monument-grotesk-medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monument Grotesk Bold';
  src: 
  url('../fonts/monument-grotesk-bold.woff2') format('woff2'), 
  url('../fonts/monument-grotesk-bold.woff') format('woff'),
  url('../fonts/monument-grotesk-bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monument Grotesk Mono';
  src: 
  url('../fonts/monument-grotesk-mono.woff2') format('woff2'), 
  url('../fonts/monument-grotesk-mono.woff') format('woff'),
  url('../fonts/monument-grotesk-mono.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Grotesque Regular';
  src: 
  url('../fonts/grotesque-regular.woff2') format('woff2'), 
  url('../fonts/grotesque-regular.woff') format('woff'),
  url('../fonts/grotesque-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Grotesque Bold';
  src: 
  url('../fonts/grotesque-bold.woff2') format('woff2'), 
  url('../fonts/grotesque-bold.woff') format('woff'),
  url('../fonts/grotesque-bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}