---
layout: compress
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body>

<!-- Mobile Navigation -->  
{% include navigation--mobile.html %}
<!-- End Mobile Navigation --> 
  
<!-- Wrapper -->
<div class="grid-y grid-padding-y align-justify wrapper">
  
<!-- Navigation -->
<div class="shrink cell">
{% include navigation.html %}
</div>
<!-- End Navigation -->

<!-- Content -->
<div class="shrink cell {{page.layout | slugify}}">
  {{content}}
</div>
<!-- End Content -->


<!-- Footer -->
<div class="shrink cell">
{% include footer.html %}
</div>
<!-- End Footer-->

</div>
<!-- End Wrapper -->

<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

<!-- Google Analytics -->
{% if site.analytics %}
{% include analytics.html %}
{% endif %}
<!-- End Google Analytics -->

</body>

</html>