---
layout: compress
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body>

<!-- Credits -->
<div class="project__credits" id="project__credits" data-toggler=".open">
<div class="grid-y align-center" style="height: 100%;">
  <div class="shrink cell">
    <div class="grid-x grid-padding-x align-center">
    	<div class="cell text-center">
        {{content}}    		
    		<a data-toggle="project__credits"><svg class="icon icon-cross2"><use xlink:href="/assets/icons/symbol-defs.svg#icon-cross2"></use></svg></a>
    	</div>
    </div>
  </div>
</div>
</div>
<!-- End Credits -->

<!-- Mobile Navigation -->  
{% include navigation--mobile.html %}
<!-- End Mobile Navigation --> 
  
<!-- Wrapper -->
<div class="grid-y grid-padding-y align-justify wrapper">
  
<!-- Navigation -->
<div class="shrink cell">
{% include navigation.html %}
</div>
<!-- End Navigation -->

<!-- Content -->
<div class="shrink cell">
<div class="grid-x grid-padding-x">

<!-- Previous -->
<div class="medium-2 cell show-for-medium project__pagination">
  {% if page.next.url %}
  <a href="{{page.next.url}}">
    <div class="grid-y align-center" style="height: 60vh;">
      <div class="shrink cell text-center">
      Previous
      </div>
    </div>
  </a>
  {% endif %}
</div>
<!-- End Previous -->

<!-- Center -->
<div class="small-12 medium-8 cell">
  <div class="grid-y align-center" style="height: 60vh;">
    <div class="shrink cell">
      
      
      <!-- Project Title -->
<div class="grid-x grid-padding-x align-center">
  <div class="shrink cell">
  	<p>{{ page.title }}</p>
  </div>
</div>
<!-- End Project Title -->

<!-- Video -->
<div class="grid-x grid-padding-x align-center">
  <div class="auto cell">
  	<div class="responsive-embed widescreen">
  	   <iframe src="https://player.vimeo.com/video/{{ page.video }}?color=ffffff&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  	</div>
  </div>
</div>
<!-- End Video -->

<!-- Toggle -->
<div class="grid-x grid-padding-x align-center">
  <div class="shrink cell">
  	<a data-toggle="project__credits"><svg class="icon icon-plus"><use xlink:href="/assets/icons/symbol-defs.svg#icon-plus3"></use></svg></a>
  </div>
</div>
<!-- End Toggle -->

<!-- Mobile Pagination -->
{% if page.previous.url %}
<div class="grid-x grid-padding-x align-center show-for-small-only">
  <div class="shrink cell text-center">
    <hr>
    <a href="{{page.previous.url}}">Next</a>
  </div>
</div>
{% endif %}
<!-- End Mobile Pagination -->
      
      
      
    </div>
  </div>
</div>
<!-- End Center -->


<!-- Next -->
<div class="medium-2 cell show-for-medium project__pagination">
  {% if page.previous.url %}
  <a href="{{page.previous.url}}">
    <div class="grid-y align-center" style="height: 60vh;">
      <div class="shrink cell text-center">
      Next
      </div>
    </div>
  </a>
  {% endif %}
</div>
<!-- End Next -->


</div>   
</div>
<!-- End Content -->


<!-- Footer -->
<div class="shrink cell">
{% include footer.html %}
</div>
<!-- End Footer-->

</div>
<!-- End Wrapper -->

<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

<!-- Google Analytics -->
{% if site.analytics %}
{% include analytics.html %}
{% endif %}
<!-- End Google Analytics -->

</body>

</html>