---
layout: compress
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body>


<!-- Credits -->
<div class="project__credits" id="project__credits" data-toggler=".open">
<div class="grid-y align-center" style="height: 100%;">
  <div class="shrink cell">
    <div class="grid-x grid-padding-x align-center">
    	<div class="shrink cell text-center">
        {{content}}    		
    		<a data-toggle="project__credits"><svg class="icon icon-cross2"><use xlink:href="/assets/icons/symbol-defs.svg#icon-cross2"></use></svg></a>
    	</div>
    </div>
  </div>
</div>
</div>
<!-- End Credits -->


<!-- Overlay Menu -->  
{% include overlay-menu.html %}
<!-- End Overlay Menu --> 

  
<!-- Wrapper -->
<div class="grid-y grid-padding-y align-justify wrapper">
  
<!-- Navigation -->
<div class="shrink cell">
{% include navigation.html %}
</div>
<!-- End Navigation -->

<!-- Content -->
<div class="shrink cell {{page.layout | slugify}}" data-aos="fade-in">
{% include project.html %}
</div>
<!-- End Content -->


<!-- Footer -->
<div class="shrink cell">
{% include footer.html %}
</div>
<!-- End Footer-->

</div>
<!-- End Wrapper -->


<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

<!-- Google Analytics -->
{% if site.analytics %}
{% include analytics.html %}
{% endif %}
<!-- End Google Analytics -->

</body>

</html>